body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #007acc;
    color: white;
    padding: 20px;
}

h1#main-title {
    font-size: 36px;
    padding: 10px;
    border: 2px solid white;
}

.content {
    margin: 20px;
}

.highlight {
    background-color: #ffffe0;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}


.content-section {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: white;
    width: 60%;
    border-radius: 8px;
}

.link-section a {
    display: inline-block;
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-section a:hover {
    background-color: #005f99;
}

.image-section img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .content-section {
        width: 90%;
    }

    h1#main-title {
        font-size: 28px;
    }
}
